# Visual Studio files
[Bb]in/
[Oo]bj/
x64/
x86/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.exe
*.obj
*.pdb
*.ilk
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.recipe

# Don't track build directories
build/
dist/
out/
